{
  "extends": "stylelint-config-standard",
  "ignoreFiles": ["**/*.js", "**/*.jsx"],
  "overrides": [
    {
      "files": ["*.css", "*.scss", "*.sass"],
      "rules": {
        "no-descending-specificity": null,
        "max-empty-lines": 4
      }
    }
  ]
}